# 这里的命名必须与 launch 文件中 controller_spawner 的参数一致
balance_controller:
  type: "balance_controller/BalanceController" # 需替换为您代码中实现的实际插件类名
  # 平衡环 (内环)：输入为俯仰角误差 (rad)，输出为力矩 (Nm)
  balance_pid:
    p: 5
    i: 0
    d: 0.3
    i_clamp: 10.0

  # 速度环 (外环)：输入为速度误差 (m/s)，输出为目标俯仰角 (rad)
  # P 值不宜过大，否则会导致角度剧烈波动
  velocity_pid:
    p: 0.07
    i: 0.001
    d: 0.0
    i_clamp: 0.03

  # 转向环：输入为角速度误差 (rad/s)，输出为两侧电机的差分力矩 (Nm)
  yaw_pid:
    p: 0.5
    i: 0.0
    d: 0.01
    i_clamp: 1.0

  position_pid:
    p: 0.5
    i: 0.0
    d: 0.01
    i_clamp: 1.0
  # 物理参数：必须与 URDF 中的模型尺寸保持一致
  wheel_separation: 0.53
  wheel_radius: 0.1

  k1: -3.1623
  k2: -3.6655 
  k3: -16.2874 
  k4: -2.6515
# 同时也需要配置 joint_state_controller
joint_state_controller:
  type: "joint_state_controller/JointStateController"
  publish_rate: 50
